{% if answer %}
<h1>Answer: {{ answer.question.id }}</h1>
<br />
Your response to question {{ answer.question.id }} has been recorded. Please proceed.
<br />
<br />
{% if answer.question.id != 1 %}
<a href="{% url 'quiz' previous %}">the previous question</a><br />
{% endif %}
<a href="{% url 'quiz' answer.question.id %}">this question again</a><br />
<a href="{% url 'quiz' next %}">the next question</a><br />
<a href="{% url 'index' %}">the index</a><br />
{% else %}
<p><strong>Error processing your answer. Please raise your hand to request assistance.</strong></p>
{% endif %}