{% if question_list %}
	<ul>
		{% for q in question_list %}
			<li><a href="{% url 'quiz' q.id %}">Question: {{ q.id }}</a></li>
		{% endfor %}
	</ul>
{% else %}
	<p>No questions are available at this time.</p>
{% endif %}