{% load app_filters %}
{% if question %}
	<h1>Question {{ question.id }}</h1>
	
	{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
	<form action="{% url 'answer' question.id %}" method="post">
		{% csrf_token %}
	
	{% if question.instructions %}
	<p><strong>{{ question.instructions }}</strong></p><br />
	{% endif %}
	
	{% if question.code %}
	<p><i>Code for question {{ question.id }}</i></p>

	{{ question.code|pygmentize|safe }}<br />
	
	{% endif %}
	
	{{ question.text|safe }}<br />
	
	{% if question_type.name == 'MultipleChoice' %}
	{% for c in question.questionchoice_set.all %}
		<input type="radio" name="answer" id="choice{{ forloop.counter }}" value="{{ c.id }}" />
		<label for="choice{{ forloop.counter }}">{{ c.id }}: {{ c.text }}</label><br />
	{% endfor %}
	
	{% if show_previous %}
	<p><strong>Your previous answer was {{ previous_answer.answer }}. Please select it again before changing pages.</strong></p><br />
	{% endif %}
	{% endif %}
	
	{% if question_type.name == 'ShortAnswer' %}
		<input type="text" size=50 name="answer" value="{{ previous_answer.answer }}"/>
		<br />
	{% endif %}
	
	{% if question_type.name == 'LongAnswer' %}
		<p><i>Please indicate the language that your solution is in.</i></p>
		<input type="text" size=50 name="lang" value="{{ previous_answer.language }}"><br />
		<p><i>Your solution</i></p><br />
		<textarea cols="80" rows="50" name="answer">
			{{ previous_answer.answer }}
		</textarea>
	{% endif %}
	
	<br />
	<input type="submit" value="Submit Answer" name="submit-button"/>
{% else %}
	<p><strong>Unable to locate question.</strong></p>
{% endif %}
	